@import '../../../styles/variables.scss';

.title {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 18px;
}

.statistics {
  display: grid;

  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);

  &__electricity {
    grid-area: 1 / 1 / 2 / 5;
  }

  &__water {
    grid-area: 2 / 1 / 3 / 5;
  }

  &__waste {
    grid-area: 3 / 1 / 4 / 5;
  }

  &__sorting {
    grid-area: 4 / 1 / 5 / 5;
  }

  &__devices {
    grid-area: 5 / 1 / 6 / 5;
  }

  @media (min-width: 767.98px) {
    &__electricity {
      grid-area: 1 / 1 / 2 / 5;
    }

    &__water {
      grid-area: 2 / 1 / 3 / 5;
    }

    &__waste {
      grid-area: 3 / 1 / 4 / 5;
    }

    &__sorting {
      grid-area: 4 / 1 / 5 / 3;
    }

    &__devices {
      grid-area: 4 / 3 / 5 / 5;
    }
  }

  @media (min-width: 1279.98px) {
    &__electricity {
      grid-area: 1 / 1 / 2 / 3;
    }

    &__water {
      grid-area: 1 / 3 / 2 / 5;
    }

    &__waste {
      grid-area: 2 / 1 / 3 / 3;
    }

    &__sorting {
      grid-area: 2 / 3 / 3 / 4;
    }

    &__devices {
      grid-area: 2 / 4 / 3 / 5;
    }
  }
}

.devices {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding: 34px 10px 28px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(2n + 2) .devices__icon {
      background: $red;
    }

    &:nth-child(5n + 1) .devices__icon {
      background: $dark-blue;
    }

    &:nth-child(2n + 3) .devices__icon {
      background: $blue;
    }

    span {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.09em;
      color: #a3a3a3;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 71px;
    width: 71px;
    margin-bottom: 4px;

    border-radius: $radius-m;
  }
}

.controls__subtitle {
  margin-bottom: 10px;
}

.sortingDate {
  font-size: 9px;
  line-height: 11px;
  letter-spacing: 0.09em;
  color: #818181;
}

.blockWrapper {
  // min-width: 492px;
  height: 310px;
  padding: 12px 12px 18px 12px;
  position: relative;
}
