@import '../../../styles/variables.scss';

.scale {
  display: flex;
  justify-content: center;
  min-width: 76px;
  height: 176px;
  margin: 0 auto;

  position: relative;

  box-shadow: 0px -6px 60px rgba(29, 35, 67, 0.14);
  border-radius: 25px;

  overflow: hidden;
}

.scale-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  font-size: 20px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;

  background: #fff;

  z-index: $index-1;

  svg {
    position: absolute;
    bottom: 20px;
    z-index: $index-2;
  }
}

.scale {
  animation: scaleAnim 2s ease alternate;
}

/* @keyframes scaleAnim {
  from {
    height: 0%;
  }
  to {
    height: 75%;
  }
} */

.termomether.termomether--red::after {
  content: '';
  background: $red;
}

.termomether.termomether--blue::after {
  content: '';
  background: $blue;
}

.termomether.termomether--dark-blue::after {
  background: $dark-blue;
}

.termomether--red {
  background: #ffe5e5;
}

.termomether--blue {
  background: #d9ecee;
}

.termomether--dark-blue {
  background: rgba(197, 202, 227, 0.71);
}
