@import '../../../styles/variables.scss';

.device {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 80px;

  border-radius: $radius-m + $step;

  @media (min-width: 640px) {
    width: 163px;
    height: 131px;
  }
}

.device:hover {
  cursor: pointer;
}

.deviceIcon {
  margin-bottom: 14px;
  width: 30px;
  height: 30px;

  @media (min-width: 640px) {
    width: 35px;
    height: 40px;
  }
}

.device:nth-child(3n + 1) {
  background: var(--red);
}

.device:nth-child(3n + 2) {
  background: var(--blue);
}

.device:nth-child(3n + 3) {
  background: var(--dark-blue);
}
