.subtitle {
  margin-bottom: 15px;
}

.currentInvoice {
  padding: 25px;
  background: #fff5f5;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: 30px;
}

.currentInvoice__head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  padding-bottom: 8px;
}

.currentInvoice__item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.currentInvoice__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 8px;
}

.currentInvoice__body .currentInvoice__item span {
  padding-left: 30px;
}

.btnPay {
  margin: 25px auto 0;
  padding: 8px 35px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: #fff5f5;
  background: var(--red);
  border-radius: 21px;

  display: flex;

  &:disabled {
    background: #7e807e;
  }
}

.success {
  background: #22bb33;
  pointer-events: none;

  span {
    visibility: hidden;
  }
}
