@import '../../../styles/variables.scss';

.subtitle {
  margin-bottom: $step * 4;
}

.currentInvoice {
  padding: $step * 6;

  background: #fff5f5;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
  border-radius: $radius-lg;

  &__top {
    padding-bottom: $step * 2;

    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: $step * 2;
  }
}

.currentInvoice__body .currentInvoice__item span {
  padding-left: $step * 7;
}
