@import '../../../styles/variables.scss';

.termomether {
  display: flex;
  justify-content: center;
  max-width: 85px;
  height: 239px;
  margin: 0 auto;

  position: relative;

  box-shadow: 0px -6px 60px rgba(29, 35, 67, 0.14);
  border-radius: 25px;

  overflow: hidden;
}

.termomether-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  position: relative;
  z-index: $index-1;

  background: #fff;

  svg {
    position: absolute;
    top: 20px;
    z-index: $index-2;
  }

  &__item {
    font-size: $step * 4;
    letter-spacing: 0.03em;
    line-height: 24px;
    color: #fff;

    animation: scaleAnim 2s ease alternate;

    span {
      position: absolute;
      bottom: 60px;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        content: '+';
      }

      &::after {
        content: '°C';
      }
    }
  }
}

/* @keyframes scaleAnim {
  from {
    height: 0%;
  }
  to {
    height: 75%;
  }
} */
