.title,
.subtitle {
  margin-bottom: 28px;
}

.climate {
  display: flex;
  gap: 30px;
  flex-direction: column;

  &__item {
    display: flex;
    padding: 13px 20px 15px 18px;
    background: #ffffff;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
    border-radius: 30px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      flex-basis: 45%;
    }
  }

  @media (min-width: 768px) {
    flex-wrap: nowrap;
    &__item {
      flex-basis: 33%;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 27px;
  min-width: 110px;

  &__text {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.09em;
    color: rgba(29, 35, 67, 0.63);
    max-width: 80%;
    margin-bottom: 16px;
  }

  &__numbers {
    text-align: right;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.09em;
    color: rgba(29, 35, 67, 0.75);

    span {
      font-size: 22px;
    }
  }
}

.contentDevice {
  margin-top: 35px;
}

.deviceWrapper {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  gap: 0.5rem;

  & > div {
    flex-basis: 45%;
  }

  @media (min-width: 640px) {
    & > div {
      flex-basis: 32%;
    }
  }

  @media (min-width: 1024px) {
    & > div {
      flex-basis: 24%;
    }
  }
}
