@import '../../../../styles/variables.scss';

.modal {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: $index-5;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
  // margin: 15% auto; /* 15% from the top and centered */
  height: 60vh;
  width: 80vw; /* Could be more or less, depending on screen size */
  padding: 40px;

  position: relative;

  background-color: #fefefe;

  border: 1px solid #888;
  border-radius: $radius-lg;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;

  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;

  cursor: pointer;
}
