@import '../../../styles/variables.scss';

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  background: #fff;
  border-radius: $radius-full;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
  }

  @media (min-width: 1024px) {
    width: 69px;
    height: 69px;
  }
}
