@import '../../../styles/variables.scss';

.list {
  display: flex;
  gap: 30px;

  @media (max-width: 430px) {
    gap: $step * 4;
  }
}

.listItem {
  display: flex;
  align-items: center;

  color: #a3a3a3;
  list-style: none;
  text-align: left;
  font-size: $step * 5;

  @media (max-width: 430px) {
    font-size: $step * 3;
  }
}

.listItemBullet {
  margin-right: $step * 3;
  width: 22px;
  height: 22px;

  border-radius: $radius-full;
}
