.diagram {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.17);
}

.diagramCount {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.63);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chartText {
  font-size: 10px;
  line-height: 48px;
  letter-spacing: 0.09em;
  color: #1D2343;
  fill: #000;
  transform: translateY(0.25em);
}

.chartNumber {
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.05em);
}
