@import '../../../styles/variables.scss';

.header {
  padding: 2rem 0 41px;
  height: 105px;

  background-color: #fff;
  border-radius: 60px 0 0 0;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @media (max-width: 1024px) {
    height: auto;
    padding: 1rem 0 1.5rem;

    border-radius: 0;

    &__inner {
      justify-content: space-between;
    }
  }
}

.headerIcon {
  width: 1.75rem;
  height: 1.75rem;
}

.search {
  padding: 10px 20px 10px 20px;

  border: 1px solid $light-gray;
  border-radius: $radius-lg;
}

.search::placeholder {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: $light-gray;
}

.search:focus {
  outline: none;
  box-shadow: 0px 0px 5px 5px #65bdc05d;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 54px;

  @media (max-width: 375px) {
    margin: 0;
  }
}
