.card {
  border-radius: 41px;
  overflow: hidden;
  position: relative;
  max-width: 252px;
  height: 314px;
}

.cardTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 37px 26px 10px;
  color: #fff5f5;
  text-align: center;
}

.card:nth-child(3n + 1) .cardTop {
  background: var(--red);
}
.card:nth-child(3n + 2) .cardTop {
  background: var(--blue);
}

.card:nth-child(3n + 3) .cardTop {
  background: var(--dark-blue);
}

.avatarWrapper {
  width: 87px;
  height: 87px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;
  margin-bottom: 7px;
}

.role {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.09em;
}

.cardBottom {
  padding: 24px 24px 30px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
}

.status {
  margin-bottom: 13px;
}

.emptyCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px dashed #e0e0e0;
  border-radius: 41px;
}

.sendMessageBtn {
  position: absolute;
  top: 36px;
  right: 26px;
}
