@import '../../../styles/variables.scss';

.shortcuts {
  h3 {
    margin-bottom: $step * 5;

    font-size: $step * 4;
    line-height: 18px;
    letter-spacing: 0.09em;
    color: rgba($dark-blue, 0.63);
    text-align: center;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;

    & > :nth-child(1) {
      background-color: $red;
    }
    & > :nth-of-type(2) {
      background-color: $blue;
    }
    & > :nth-of-type(3) {
      background-color: $dark-blue;
    }
  }
}

.shortcut {
  display: flex;
  align-items: center;
  padding: 25px 24px 25px 21px;

  color: #fff;

  border-radius: $radius-m;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  span {
    margin-left: 16px;
  }
}
