@import '../../../styles/variables.scss';

.sidebar {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 36px 15px;
  gap: 117px;

  position: relative;
  z-index: $index-4;

  transition: all 0.5s ease-in-out;

  background-color: var(--blue);

  overflow-y: scroll;
  overflow-x: hidden;

  @media (max-width: 1024px) {
    padding: 0;
    height: auto;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $blue;
  }
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.nav {
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;

  overflow: hidden;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.65;

    &-text {
      margin-top: 1rem;
      margin-top: 0.5rem;
      color: #fff5f5;
    }

    &.active {
      opacity: 1;
    }
  }

  @media (max-width: 1024px) {
    min-height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.7rem 0;
    gap: 0;
    font-size: 12px;
  }
}
