@import '../../../styles/variables.scss';

.temp {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  span {
    margin-right: 42px;

    font-size: 1.8rem;
    line-height: 48px;
    letter-spacing: 0.09em;
    color: rgba($dark-blue, 0.75);

    @media (min-width: 640px) {
      font-size: 2.5rem;
    }
  }
}
