:root {
  --red: #ee777f;
  --blue: #65bdc0;
  --dark-blue: #1d2343;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--blue);
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 640px) {
    max-width: 640px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  @media (min-width: 1400px) {
    max-width: 1400px;
  }
}

.main-container {
  display: grid;
  grid-template-columns: 107px 1fr;
  grid-template-rows: 105px 1fr;
  position: relative;
  z-index: 1;

  @media (max-width: 1024px) {
    display: block;
  }
}

.main {
  height: calc(100vh - 144px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  grid-area: 2 / 2 / 3 / 3;
  background-color: #fff;
  border-radius: 0 0 0 60px;
  padding-bottom: 60px;

  @media (max-width: 1024px) {
    border-radius: 0;
  }

  @media (min-width: 1024px) {
    height: calc(100vh - 105px);
    padding-bottom: 0;
  }
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.subtitle {
  font-size: 1.25rem;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);

  @media (min-width: 640px) {
    font-size: 1.5rem;
  }
}

.block {
  &--dark-blue {
    background: var(--dark-blue);
  }
  &--red {
    background: var(--red);
  }

  &--blue {
    background: var(--blue);
  }
}

.icon {
  width: 1rem;
  height: 1rem;

  @media (min-width: 640px) {
    width: 1.5rem;
    height: 1.5rem;
  }

  @media (min-width: 768px) {
    width: 2rem;
    height: 2rem;
  }
}

// ===Scroll Styles===

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, var(--red) 14%, var(--blue) 64%);
  border-radius: 11px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(9deg, #cf656d 25%, #55a0a3 48%);
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}

// /===Scroll Styles===

@media (max-width: 375px) {
  .page {
    display: flex;
    padding: 0 15px;
    overflow: auto;
  }
}
