:root {
  --red: #EE777F;
  --blue: #65BDC0;
  --dark-blue: #1D2343;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  display: grid;
  grid-template-areas: 
    "nav header"
    "nav content"
  ;
  grid-template-rows: 118px 1fr;
  grid-template-columns: 172px 1fr;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
}

.main {
  border-radius: 60px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 120px;
  background-color: #fff;
  padding-left: 65px;
  height: 100%;
  padding-right: 87px;
}

.content-title {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.09em;
  color: #1D2343;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.content-subtitle {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.09em;
  color: rgba(29, 35, 67, 0.75);
}

.block--dark-blue {
  background: var(--dark-blue);
}

.block--red {
  background: var(--red);
}

.block--blue  {
  background: var(--blue);
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
 }
 ::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, var(--red) 14%,var(--blue) 64%);
  border-radius: 11px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(9deg, #cf656d 25%,#55a0a3 48%);
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 15px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }

 @media (max-width: 375px) {
   .page {
     display: flex;
     padding: 0 15px;
     overflow: auto;
   }
   .main {
     position: static;
     padding: 0;
   }
   .content-title {
     font-size: 30px;
   }
 }