@font-face {
  font-family: 'Lack Regular';
  src: url('./fonts/lack-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  font-family: 'Lack Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
